a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.placeholder-text {
    opacity: 0.6;
    padding-left: 1em;
}

.submit-forms form,
.submit-forms form div {
    display: inline;
}

.image-small img {
    width: 25%;
    display: block;
    vertical-align: bottom;
    padding-top: 0.1em;
}

.image-small p {
    padding: 0em;
    margin-bottom: 0em;
}

.win-row {
    background-color: lightblue !important;
}

.loss-row {
    background-color: lightpink !important;
}

.table td {
    padding: 0em;
    padding-left: 1em;
}

