a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar-color {
    background-color: #002bff40;
    -webkit-mask-image: linear-gradient(to bottom, black 93%, transparent);
}

.base-background {
    background-color: #00ffff0d;
}

html {
    font-size: 14px;
    background-color: #00ffff0d;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.placeholder-text {
    opacity: 0.6;
    padding-left: 1em;
}

.submit-forms form,
.submit-forms form div {
    display: inline;
}

.image-small img {
    width: 20%;
    display: block;
    vertical-align: bottom;
    padding: 0.1em;
    border-radius: 25px;
}

.image-small p {
    padding: 0em;
    margin-bottom: 0em;
}

.win-row {
    background-color: lightblue !important;
}

.loss-row {
    background-color: lightpink !important;
}

.table td {
    padding: 0em;
    padding-left: 1em;
}

.text-blue {
    color: cornflowerblue;
}

.spaced-text {
    margin-top: 2em;
}

.text-big-fun-font {
    font-family: sans-serif;
    font-style: oblique;
}

.text-blue Link {
    text-underline-position: below;
}

.bugmo-brand {
    font-family: 'Comic Sans MS';
    color: cornflowerblue !important;
    padding: 0.1rem !important;
    font-size: 40px;
    font-style: oblique;
    font-weight: bold;
}

.center-home {
    margin: auto;
}

.center-home img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-image {
    padding-top: 2em;
}



